<!--<%@taglib uri="http://www.springframework.org/tags/form" prefix="form" %>-->
<html xmlns:form="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<h3>Welcome, Enter The Animal Details</h3>
<form action="#" th:action="@{/addAnimal}" th:object="${animal}" method="post">
    <p>COde: <input type="text" th:field="*{code}"/></p>
    <p>Name ru: <input type="text" th:field="*{nameRu}"/></p>
    <p>nameBy: <input type="text" th:field="*{nameBy}"/></p>
    <p>parentCode: <input type="text" th:field="*{parentCode}"/></p>

    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    <a href="/">Animal list</a>

</form>
</body>
</html>